.wrap {
	width: 100%;
	height: calc(100vh);
	background: #111;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 0.5rem;
	color: #fff;
	@media (max-width: 800px) {
		display: none;
	}
	h2 {
		font-size: 1.2rem;
		font-weight: 700;
	}
	h3 {
		font-size: 1.1rem;
		font-weight: 500;
	}
}
