.password {
	position: relative;
	width: 100%;
}

.password_input {
	color: #aba398;
	border: 1px solid #aba398;
	background: transparent;
	padding: 0.8rem 1rem;
	border-radius: 0.5rem;
	width: 100%;
	&:focus {
		border: 1px solid #8774e1;
	}
}

.meaning {
	transition: 0.3s;
	color: #8774e1;
	background: #191b1c;
	position: absolute;
	top: -1rem;
	left: 1rem;
	font-size: 0.8rem;
	opacity: 0;
}

.active {
	opacity: 1;
}

.eye {
	background: transparent;
	position: absolute;
	color: #aba398;
	right: 0.4rem;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.2rem;
	display: flex;
	align-items: center;
}
